<section>
    <header>
        <h2 class="text-lg font-medium text-gray-900">Zdjęcie profilowe</h2>

        <p class="mt-1 text-sm text-gray-600">Zaktualizuj zdjęcie profilowe</p>
    </header>

    <img src="http://localhost/{{ asset('images/test-image.png') }}" alt="zdjęcie profilowe"/>

    <form action="{{ path('app_profile') }}" method="POST" class="p-4" enctype="multipart/form-data">
        <label class="block mb-4">
            <span class="sr-only">Wybierz plik</span>
            <input type="file" name="image"
                   class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semi-bold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"/>
            <span class="text-red-600 text-sm">Bład</span>
        </label>
        <p x-data="{ show: true }" x-show="show" x-trainsition x-init="setTimeout(() => show = false, 2000)" class="text-sm text-gray-600">Zapisano</p>
    </form>
</section>